{% load static %}

<div class="table-responsive">
    <table class='table' id='council-members'>
        <thead>
            <tr>
                <th></th>
                <th>
                    {{ CITY_VOCAB.COUNCIL_MEMBER }}
                </th>
                <th>
                    {{CITY_VOCAB.MUNICIPAL_DISTRICT}}
                </th>
            </tr>
        </thead>
        <tbody>
            {% for post, members in posts %}
                {% for member in members %}
                    <tr id="polygon-{{post.label | slugify}}">
                        <td>
                            <div class="thumbnail-square">
                                    <img src='{% static member.person.headshot.url %}' alt='{{member.person.name}}' title='{{member.person.name}}' class='img-responsive img-thumbnail' />
                            </div>
                        </td>
                        <td>
                            {{ member.person.link_html|safe }}
                            {% if member.role == 'Speaker' %}
                                <br /><span class='label label-default'>Council Speaker</span>
                            {% endif %}
                        </td>
                        <td>{{post.label}}</td>
                    </tr>
                {% empty %}
                    <tr id="polygon-{{post.label | slugify}}">
                        <td/>
                        <td> Vacant </td>
                        <td>{{post.label}}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>
